@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1B2431;
}

.progressBar {
  transition: width 0.6s ease;
  animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes {
  100% {
    background-position: -100px 0;
  }
}